---
import { ServicioNotarialesList } from "../contents/servicios-notariales";
import { ServicioInmigracionList } from "../contents/servicios-inmigración";

import principalDesktop from "../../public/images/principal-desktop.png";
import principalMovil from "../../public/images/principal-movil.png";
import service001 from "../../public/images/service-001.png";
import service002 from "../../public/images/service-002.png";
import service003 from "../../public/images/service-003.png";
import abaut from "../../public/images/abaut.png";

import Layout from "../layouts/layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="4LMT">
  <main>
    <!-- Header -->
    <header class="container-fluid p-0">
      <div class="card bg-dark text-white border-0 rounded-0">
        <img
          src={principalMovil.src}
          class="card-img d-md-none"
          alt="principal"
        />
        <img
          src={principalDesktop.src}
          class="card-img d-none d-md-block"
          alt="principal"
        />
        <div
          class="card-img-overlay px-4 py-5 p-md-5 my-5 text-center"
          data-aos="zoom-in"
        >
          <p class="text-white display-3 display-md-2 montserrat-bold">
            SU TRANQUILIDAD <br /> ES NUESTRA PRIORIDAD
          </p>
          <p class="text-white fs-2 fs-md-1 montserrat-bold">
            Simplificamos lo complejo para ti
          </p>
          <a href="#contacto" class="btn btn-lg btn-outline-light my-2 my-md-5"
            >AGENDAR CITA</a
          >
        </div>
      </div>
    </header>

    <!-- Servicios principales -->
    <div class="container-lg my-5 py-md-5">
      <div class="row px-2 px-md-0 justify-content-center">
        <div
          class="col-12 col-md-3 d-flex align-items-start border bg-dark m-3 px-3 py-5 rounded-3"
          data-aos="fade-up"
        >
          <img
            src={service001.src}
            class="m-l-2"
            alt="service"
            width="50px"
            height="50px"
          />
          <div class="px-3">
            <h4 class="fw-bold mb-3 text-first">TRÁMITES MIGRATORIOS</h4>
            <p class="text-second">
              Este servicio está diseñado para asistir a individuos y familias
              en todos los aspectos relacionados con su proceso migratorio.
            </p>
          </div>
        </div>
        <div
          class="col-12 col-md-3 d-flex align-items-start border bg-dark m-3 px-3 py-5 rounded-3"
          data-aos="fade-up"
        >
          <img
            src={service002.src}
            class="m-l-2"
            alt="service"
            width="50px"
            height="50px"
          />
          <div class="px-3">
            <h4 class="fw-bold mb-3 text-first">APERTURA DE COMPAÑIAS</h4>
            <p class="text-second">
              Este servicio le brinda la asesoría necesaria, ya sea que esté
              iniciando un nuevo negocio o expandiendo su marca, de manera legal
              y eficiente.
            </p>
          </div>
        </div>
        <div
          class="col-12 col-md-3 d-flex align-items-start border bg-dark m-3 px-3 py-5 rounded-3"
          data-aos="fade-up"
        >
          <img
            src={service003.src}
            class="m-l-2"
            alt="service"
            width="50px"
            height="50px"
          />
          <div class="px-3">
            <h4 class="fw-bold mb-3 text-first">
              IMPUESTOS PERSONALES Y CORPORATIVOS
            </h4>
            <p class="text-second">
              Este ofrece asesoría en todos los aspectos relacionados con el
              cumplimiento tributario tanto a nivel personal como empresarial.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Sobre nosotros -->
    <div class="container my-5 py-5" id="sobreNosotros" data-aos="zoom-in">
      <div class="row justify-content-center">
        <div class="col-12 col-md-3 px-4">
          <img src={abaut.src} class="img-fluid" alt="abaut" loading="lazy" />
        </div>
        <div
          class="col-12 col-md-7 mt-5 mt-md-0 px-3 px-md-5 text-center text-md-start"
        >
          <h2 class="display-5 fw-bold lh-1 mb-5 p-0 montserrat-bold">
            BIENVENIDO A 4LEGAL & TAX MULTISERVICE LLC
          </h2>
          <div class="px-3 p-md-0">
            <p class="lead" style="text-align: justify">
              En 4Legal & Tax Multiservice LLC, nos dedicamos a brindar
              soluciones legales eficientes y personalizadas para simplificar
              los trámites legales de nuestros clientes. Con una sólida
              trayectoria en el sector y un equipo de profesionales altamente
              calificados, entendemos las complejidades del ámbito legal y
              trabajamos para facilitar cada proceso.
            </p>
            <p class="lead" style="text-align: justify">
              Nuestra misión es ofrecer un servicio accesible, claro y
              confiable, permitiendo que nuestros clientes se sientan
              respaldados en cada etapa de sus gestiones legales. Creemos en la
              importancia de la transparencia y la comunicación, y nos
              comprometemos a guiarte a través de cada trámite con el máximo
              profesionalismo.
            </p>
            <p class="lead" style="text-align: justify">
              Explora nuestros servicios y descubre cómo podemos ayudarte a
              alcanzar tus objetivos legales de manera rápida y efectiva.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Servicios notariales-->
    <div class="bg-dark text-secondary" id="servicios-notariales">
      <div class="py-5">
        <h2 class="text-light text-center montserrat-bold fs-1">
          SERVICIOS NOTARIALES
        </h2>
        <div class="d-flex flex-wrap p-5 px-md-0">
          {
            ServicioNotarialesList.map((i) => (
              <div class="col-12 col-md-6 my-2 ps-md-5">
                <p class="mb-2 fs-5 text-light lead">{i}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <!-- Servicios inmigración -->
    <div class="conatiner p-5 text-center" id="servicios-inmigracion">
      <p class="display-5 fw-bold lh-1 mb-5 p-0 montserrat-bold">
        SERVICIOS DE INMIGRACIÓN
      </p>
      <div class="row">
        {
          ServicioInmigracionList.map((i) => (
            <div class="col-12 col-md-4 col-lg-3 p-md-4 mb-5">
              <div class="p-4 rounded shadow bg-dark" style="height: 27rem;">
                <div class="px-5 py-3">
                  <img
                    src={i.imgUrl}
                    class="img-fluid mb-3 rounded-circle p-2 border border-first border-2"
                    alt={i.name}
                  />
                </div>
                <div class="text-center p-2">
                  <h5 class="text-first montserrat-bold mb-3">{i.name}</h5>
                  <p class="text-light mb-2">{i.description}</p>
                </div>
                    <a
                      href={"servicios/inmigracion-" + i.id}
                      class="text-light fw-bold text-decoration-none"
                    >
                      Conocer más
                    </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Otros servicios -->
    <div class="bg-dark text-secondary" id="otros-servicios">
      <div class="py-5">
        <h2 class="text-light text-center montserrat-bold fs-1">
          OTROS SERVICIOS
        </h2>
        <div class="row container justify-content-evenly mx-md-5">
          <div class="col-md-4 col-12 my-3 p-3" data-aos="fade-right">
            <div class="border p-1 p-md-4">
              <p class="mb-2 fs-5 text-light lead">Asilo</p>
              <p class="mb-2 fs-5 text-light lead">Parol</p>
              <p class="mb-2 fs-5 text-light lead">Permiso de trabajo</p>
              <p class="mb-2 fs-5 text-light lead">Cambio de dirección</p>
              <p class="mb-2 fs-5 text-light lead">Poderes notariales</p>
              <p class="mb-2 fs-5 text-light lead">Permisos de viaje</p>
              <p class="mb-2 fs-5 text-light lead">Redacción de resumé</p>
              <p class="mb-2 fs-5 text-light lead">Aplicaciones de renta</p>
              <p class="mb-2 fs-5 text-light lead">
                Llenado de formas: W4, W9, W2, 1099...
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12 my-3 p-3" data-aos="fade-right">
            <div class="border p-1 p-md-4 h-100">
              <p class="mb-2 fs-5 text-light lead">Residencia</p>
              <p class="mb-2 fs-5 text-light lead">Ciudadaía</p>
              <p class="mb-2 fs-5 text-light lead">Traducciones</p>
              <p class="mb-2 fs-5 text-light lead">Pasaporte</p>
              <p class="mb-2 fs-5 text-light lead">
                Acuerdos de compra y venta
              </p>
              <p class="mb-2 fs-5 text-light lead">Testamentos</p>
              <p class="mb-2 fs-5 text-light lead">
                Impuestos personales y corporativos
              </p>
              <p class="mb-2 fs-5 text-light lead">Trámites de compañias</p>
            </div>
          </div>
          <div class="col-md-4 col-12 my-3 p-3" data-aos="fade-right">
            <div class="border p-1 p-md-4">
              <p class="mb-2 fs-5 text-light lead">Affidavits</p>
              <p class="mb-2 fs-5 text-light lead">Peticiones familiares</p>
              <p class="mb-2 fs-5 text-light lead">Gestión de citas</p>
              <p class="mb-2 fs-5 text-light lead">Notarizaciones</p>
              <p class="mb-2 fs-5 text-light lead">Redacción de contratos</p>
              <p class="mb-2 fs-5 text-light lead">Aplicaciones de empleo</p>
              <p class="mb-2 fs-5 text-light lead">Bookkeeping</p>
              <p class="mb-2 fs-5 text-light lead">
                Aplicaciones de: VPK, After School
              </p>
              <p class="mb-2 fs-5 text-light lead">
                Gestión de documentos y certificaciones
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Contact />
  </main>
</Layout>
